*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    padding: 10px;
    background-color: whitesmoke;
}
header{
    padding: 30px;
    text-align: center;
}
header nav{
    background-color: #383838;
    margin-bottom: 20px;
}
header nav ul{
    position: relative;
}
header nav ul li{
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
}
header nav ul li a{
    text-decoration: none; /*to remove underline*/
    color: 	#787878;
    font-size: 15px;
}


main article{
    width: 100%;
    display: inline-block;
    padding: 2% 2% 2% 2%;
    margin: auto;
}
main article img{
    width: 50%;
    float: left;

}
main article section{
    width: 50%;
    /* display: inline-block; */
    float: right;
    text-align: justify;
}
main article section h4{
    padding-top: 25px;
    padding-right: 155px;
    padding-bottom: 25px;
    padding-left: 40px;
}
main article section p{
    border: 1px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    width: 450px;
    height: 400px;
    overflow: scroll;
}

main article section p a {
    background-color: black;
    text-decoration: none;
    color: blanchedalmond;
    /* position: fixed; */
}
main article section p a:hover {
    /*when put the mouse om a tag, the color and text decoration*/
    text-decoration: underline;
    color: red;
}
footer{
    clear: both; /*clear the floating for the flooter on the left side or right, and it will remain in her place*/
    color:#787878;
    background-color: #383838;
    width: 100%;
    padding: 20px;
}