*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    width: 100%;
    padding: 90px;
    background-color: whitesmoke;
}
header{
    clear: both; /*clear the floating for the flooter on the left side or right, and it will remain in her place*/
    display:inline-block;
    width: 99%; /*talke the hole width on screen*/
    height: 40%;
    padding: 0px;
    text-align: center;

}
header nav{
    background-color: #383838;
    margin-bottom: 20px;
}
header nav ul{
    position: relative;
}
header nav ul li{
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
}
header nav ul li a{
    text-decoration: none; /*to remove underline*/
    color: 	#787878;
    font-size: 15px;
}

main img{
    width: 90%;
    padding-left: 12%;
}
body main section{
    display: flex;
    width: 352.5px;;
    margin: 0px 50px 0px 100px;
}


main article{
    width: 100%;
    display: flex;
    margin: 0px 0px 0px 4px;
}
main article img{
    width: 50%;
    float: left;
    height: 50%;

}
main article section{
    width: 50%;
    float: right;
    margin: 0px 0px 0px 5px;
    text-align: justify;
}
main article section h4{
    padding-top: 25px;
    padding-right: 155px;
    padding-bottom: 25px;
    padding-left: 40px;
}
main article section p{
    width: 450px;
    height: 300px;
    overflow: scroll;
}

main article section p a {
    background-color: black;
    text-decoration: none;
    position: sticky;
    color: whitesmoke;
    top: 0;
    left: 5;
    width: 299px;
    border: 3px solid black;
}
main article p a:hover {
    /*when put the mouse om a tag, the color and text decoration*/
    text-decoration: underline;
    color: red;
}
footer{
    clear: both; /*clear the floating for the flooter on the left side or right, and it will remain in her place*/
    display:inline-block;
    background-color: #383838;
    color:#787878;
    width: 99%; /*talke the hole width on screen*/
    height: 40%;
    padding: 20px;
    text-align: center;
    
}